html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom-style: solid;
}

body {
  padding: 0;
}

button {
  color: #fff;
  background-color: #000;
}

button:hover {
  background-color: #f2f2f2;
}

@media only screen and (min-width: 60em) {

  .wrapper {
    max-width: 960px;
  }

}

.wrapper {
  text-align: center;
}
